In [21]:
import MySQLdb
import pickle
import pandas as p

con=MySQLdb.connect(host='35.224.40.150',user='nassim' ,passwd='19101996',db='aeoport')
cursor=con.cursor()



cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA='aeoport' ")
res=cursor.fetchall()
print(res)

(('airlines',), ('airports',), ('flights',), ('planes',), ('weather',), ('weth_fly',))

In [23]:
#load treated dataframes from pickles
airlines=p.read_pickle('airlines.pickle')
planes=p.read_pickle('planes.pickle')
flights=p.read_pickle('flights.pickle')
weather=p.read_pickle('weather.pickle')
airports=p.read_pickle('airports.pickle')

In [ ]:
sql='insert into airlines(carrier,names) values(%s,%s)'
for row in range(len(airlines)):
    cursor.execute(sql,tuple(airlines.iloc[row]))
con.commit()

In [ ]:
sql="insert into airports values(%s,%s,%s,%%s,%s,%s,%s,%s)"

for row in range(len(airports)):
    cursor.execute(sql,tuple(airports.iloc[row]))
con.commit()

In [ ]:
sql="insert into planes values(%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for row in range(len(planes)):
    cursor.execute(sql,tuple(planes.iloc[row]))
con.commit()

In [ ]:

sql="insert into weather(origin,year, month, day, hour,temp, dewp, humid, wind_dir, wind_speed, wind_gust, precip, pressure, visib, time_hour) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
for row in range(len(weather)):
    cursor.execute(sql,tuple(weather.iloc[row]))
con.commit()